<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Meds Page</h1>
        <table>
        {{#rows}}
            <tr>
                <td>{{mid}}</td>
                <td>{{name}}</td>
                <td>{{count}}</td>
                <td>{{brand}}</td>
                <td>
                    <form action="/meds/delete/{{mid}}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {{/rows}}
        </table>
    </body>
</html>